@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

//// variables

// Colors
$color-dark-gray: hsl(0, 0%, 63%);
$color-black: hsl(0, 0%, 0%);
$color-white: hsl(0, 0%, 100%);
$color-very-dark-gray: hsl(0, 0%, 27%);

// Typography
$body-font-size: 12px;
$font-family: 'League Spartan', sans-serif;
$font-weight-regular: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

@mixin body-text {
  font-family: $font-family;
  font-size: $body-font-size;
  line-height: 1.6;
  color: $color-dark-gray;
}

@mixin heading-text($weight: $font-weight-bold) {
  font-family: $font-family;
  font-weight: $weight;
  color: $color-black;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

a:hover,
button:hover,
.link:hover {
  cursor: pointer;
}

body {
  min-height: 100vh;
  background: $color-white;
  transition:
    color 0.5s,
    background-color 0.5s;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include body-text();
}

h1,
h2,
h3,
h4 {
  @include heading-text();
}

h1 {
  font-size: 2.5rem;
  letter-spacing: -1px;
  line-height: 1.1;
  margin-bottom: 2rem;
}

h2 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 6px;
  margin-bottom: 1rem;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

// Variables for breakpoints
$breakpoint-mobile: 768px;

// Media Queries
@mixin mobile {
  @media (max-width: $breakpoint-mobile) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: ($breakpoint-mobile + 1)) {
    @content;
  }
}

.show-on-mobile,
.show-on-desktop {
  display: none;
}

// Show only on mobile
@include mobile {
  .show-on-mobile {
    display: block;
  }
}

// Show only on desktop
@include desktop {
  .show-on-desktop {
    display: block;
  }
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}
